<%- include('includes/head') %>

<body class="destination">
	<%- include('includes/header.ejs',{path}) %>

	<h2 class="numbered-title ff-sans-cond fs-500 letter-spacing-2 uppercase">
		<span class="ff-sans-cond fs-500 letter-spacing-2 uppercase">01</span>pick
		your destination
	</h2>

	<main class="main flex">
		<div class="image" style="align-self: center">
			<img src="<%= data.images.png %> " alt="" />
		</div>

		<div class="main-content">
			<div class="tabs flex" style="gap: 2rem; margin-bottom: 1.5rem">
				<a
					href="/destination/moon"
					aria-selected="<%= data.name.toLowerCase() === 'moon' %>"
					class="underline uppercase"
					>Moon</a
				>

				<a
					href="/destination/mars"
					aria-selected="<%= data.name.toLowerCase() === 'mars' %>"
					class="underline uppercase"
					>Mars</a
				>
				<a
					href="/destination/europa"
					aria-selected="<%= data.name.toLowerCase() === 'europa' %>"
					class="underline uppercase"
					>Europa</a
				>
				<a
					href="/destination/titan"
					aria-selected="<%= data.name.toLowerCase() === 'titan' %>"
					class="underline uppercase"
					>TITAN</a
				>
			</div>
			<h1
				class="ff-sans-cond uppercase text-accent letter-spacing-2 fs-500"
				style="font-weight: var(--fw-400)"
			>
				<span class="ff-serif uppercase text-white block fs-800"
					><%= data.name %>
				</span>
			</h1>
			<p class="text-accent"><%= data.description %></p>

			<div class="sub-content flex">
				<h3 class="ff-sans-cond fs-200 uppercase letter-spacing-3 text-accent">
					Avg. Distance<span
						class="text-white ff-serif uppercase"
						style="
							font-size: 1.75rem;
							display: block;
							letter-spacing: initial;
							margin-top: 12px;
						"
						><%= data.distance %>
					</span>
				</h3>
				<h3 class="ff-sans-cond fs-200 uppercase letter-spacing-3 text-accent">
					Est. travel time<span
						class="text-white ff-serif uppercase"
						style="
							font-size: 1.75rem;
							display: block;
							letter-spacing: initial;
							margin-top: 12px;
						"
						><%= data.travel %>
					</span>
				</h3>
			</div>
		</div>
	</main>
</body>

<%- include('includes/end.ejs') %>
